root = true

# Common settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
# Do not set tab_width, so the tab size can be set by the editor.
trim_trailing_whitespace = true
